html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
}

.container {
    height: 100%;
}

.side {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    height: 500px;
    margin: 5px;
}

.body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    height: 1000px;
    margin: 5px;
}

.padding {
    height: 60px;
}

footer {
    height: 40px;
    width: 100%;
    background-color: #F0F0F0;
    position: fixed;
    bottom: 0;
    text-align: center;
}

@media (max-width: 970px) {
    footer {
        display: none;
    }
}