<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="net.stackoverflow.blog.pojo.po.UserPO" alias="userPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.ArticlePO" alias="articlePO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.RolePO" alias="rolePO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.PermissionPO" alias="permissionPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.UserRolePO" alias="userRolePO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.RolePermissionPO" alias="rolePermissionPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.CategoryPO" alias="categoryPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.CommentPO" alias="commentPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.SettingPO" alias="settingPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.VisitPO" alias="visitPO"/>
        <typeAlias type="net.stackoverflow.blog.pojo.po.MenuPO" alias="menuPO"/>
    </typeAliases>

</configuration>