<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.UserPO" alias="user"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.ArticlePO" alias="article"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.RolePO" alias="role"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.PermissionPO" alias="permission"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.UserRolePO" alias="userRole"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.RolePermissionPO" alias="rolePermission"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.CategoryPO" alias="category"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.CommentPO" alias="comment"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.SettingPO" alias="setting"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.VisitPO" alias="visit"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.VisitorPO" alias="visitor"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.po.MenuPO" alias="menu"/>
    </typeAliases>

</configuration>