<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="xyz.stackoverflow.blog.pojo.entity.User" alias="user"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.entity.Article" alias="article"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.entity.Role" alias="role"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.entity.Permission" alias="permission"/>
        <typeAlias type="xyz.stackoverflow.blog.pojo.entity.Category" alias="category"/>
    </typeAliases>

</configuration>