html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
    background-image: url("/static/image/weather.png");
}

.container {
    height: 100%;
}

.category {
    display: inline-block;
    padding: 10px;
}

.padding {
    height: 60px;
}

@media (max-width: 970px) {
    footer {
        display: none;
    }
}