<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.ArticleDao">

    <resultMap id="articleMap" type="article">
        <id property="id" column="id"></id>
        <result property="userId" column="userid"></result>
        <result property="title" column="title"></result>
        <result property="articleMd" column="articlemd"></result>
        <result property="articleHtml" column="articlehtml"></result>
        <result property="categoryId" column="categoryid"></result>
        <result property="createDate" column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
        <result property="modifyDate" column="modifydate" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
        <result property="url" column="url"></result>
        <result property="hits" column="hits"></result>
        <result property="likes" column="likes"></result>
        <result property="visible" column="visible"></result>
    </resultMap>

    <select id="selectByPage" resultMap="articleMap" resultType="article">
        select * from article
        <where>
            <if test="searchMap != null">
                <if test="searchMap.visible != null">
                    visible = #{searchMap.visible}
                </if>
                <if test="searchMap.categoryId != null">
                    and categoryid = #{searchMap.categoryId}
                </if>
            </if>
        </where>
        limit #{start},#{limit} order by createdate desc
    </select>

    <select id="selectByCondition" resultMap="articleMap" resultType="article">
        select * from article
        <where>
            <if test="visible != null">
                visible = #{visible}
            </if>
            <if test="categoryId != null">
                and categoryid = #{categoryId}
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="articleMap" resultType="article">
        select * from article where id = #{id}
    </select>

    <select id="selectByUrl" resultMap="articleMap" resultType="article">
        select * from article where url = #{url}
    </select>

    <insert id="insert" parameterType="article">
        insert into article (id,userid,title,articlemd,articlehtml,categoryid,createdate,modifydate,url,hits,likes,visible)
        values (#{id},#{userId},#{title},#{articleMd},#{articleHtml},#{categoryId},#{createDate},#{modifyDate},#{url},#{hits},#{likes},#{visible})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into article (id,userid,title,articlemd,articlehtml,categoryid,createdate,modifydate,url,hits,likes,visible)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.userId},#{item.title},#{item.articleMd},#{item.articleHtml},#{item.categoryId},#{item.createDate},#{item.modifyDate},#{item.url},#{item.hits},#{item.likes},#{item.visible})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from article where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from article where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="article">
        update article
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="articleMd != null">
                articlemd = #{articleMd},
            </if>
            <if test="articleHtml != null">
                articlehtml = #{articleHtml},
            </if>
            <if test="categoryId != null">
                categoryid = #{categoryId},
            </if>
            <if test="modifyDate != null">
                modifydate = #{modifyDate},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="hits != null">
                hits = #{hits},
            </if>
            <if test="likes != null">
                likes = #{likes},
            </if>
            <if test="visible != null">
                visible = #{visible},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update article
            <set>
                <if test="item.title != null">
                    title = #{title},
                </if>
                <if test="item.articleMd != null">
                    articlemd = #{articleMd},
                </if>
                <if test="item.articleHtml != null">
                    articlehtml = #{articleHtml},
                </if>
                <if test="item.categoryId != null">
                    categoryid = #{categoryId},
                </if>
                <if test="item.modifyDate != null">
                    modifydate = #{modifyDate},
                </if>
                <if test="item.url != null">
                    url = #{url},
                </if>
                <if test="item.hits != null">
                    hits = #{hits},
                </if>
                <if test="item.likes != null">
                    likes = #{likes},
                </if>
                <if test="item.visible != null">
                    visible = #{visible},
                </if>
            </set>
            where id = #{id}
        </foreach>
    </update>


    <select id="getLimitVisibleArticle" resultMap="articleMap" resultType="article">
        select * from article where visible = 1 order by createdate desc limit #{start},#{limit}
    </select>

    <select id="getLimitArticle" resultMap="articleMap" resultType="article">
        select * from article order by createdate desc limit #{start},#{limit}
    </select>

    <select id="getLimitVisibleArticleByCategoryId" resultMap="articleMap" resultType="article">
        select * from article where categoryid = #{where} and visible = 1 order by createdate desc limit #{start},#{limit}
    </select>

    <select id="getVisibleArticleCount" resultType="int">
        select count(*) from article where visible = 1
    </select>

    <select id="getArticleCount" resultType="int">
        select count(*) from article
    </select>

    <select id="getVisibleArticleCountByCategoryId" resultType="int" parameterType="string">
        select count(*) from article where categoryid = #{categoryId} and visible = 1
    </select>

    <select id="getArticleById" resultMap="articleMap" parameterType="string" resultType="article">
        select * from article where id = #{id}
    </select>

    <select id="getArticleByUrl" resultMap="articleMap" parameterType="string" resultType="article">
        select * from article where url = #{url}
    </select>

    <select id="isExistUrl" resultType="int" parameterType="string">
        select count(*) from article where url = #{url}
    </select>

    <insert id="insertArticle" parameterType="article">
        insert into article(id,userid,title,articlemd,articlehtml,categoryid,createdate,modifydate,url,hits,likes,visible) values(#{id},#{userId},#{title},#{articleMd},#{articleHtml},#{categoryId},#{createDate},#{modifyDate},#{url},#{hits},#{likes},#{visible})
    </insert>

    <update id="updateArticle" parameterType="article">
        update article
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="articleMd!=null">
                articlemd = #{articleMd},
            </if>
            <if test="articleHtml!=null">
                articlehtml = #{articleHtml},
            </if>
            <if test="categoryId!=null">
                categoryid = #{categoryId},
            </if>
            <if test="modifyDate!=null">
                modifydate = #{modifyDate},
            </if>
            <if test="url!=null">
                url = #{url},
            </if>
            <if test="hits!=null">
                hits = #{hits},
            </if>
            <if test="likes!=null">
                likes = #{likes},
            </if>
            <if test="visible!=null">
                visible = #{visible}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteArticleById" parameterType="string">
        delete from article where id = #{id}
    </delete>

    <update id="updateArticleCategory">
        update article set categoryid=#{arg0} where categoryid=#{arg1}
    </update>

</mapper>