<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.ArticleDao">

    <resultMap id="articleMap" type="article">
        <id property="id" column="id"></id>
        <result property="userId" column="userid"></result>
        <result property="title" column="title"></result>
        <result property="articleMd" column="articlemd"></result>
        <result property="articleHtml" column="articlehtml"></result>
        <result property="categoryId" column="categoryid"></result>
        <result property="date" column="date" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
        <result property="url" column="url"></result>
    </resultMap>

    <select id="getAllArticle" resultMap="articleMap">
        select * from article order by date desc
    </select>

    <select id="getLimitArticle" resultMap="articleMap">
        select * from article order by date desc limit #{start},#{limit}
    </select>

    <select id="getArticleCount" resultType="int">
        select count(*) from article
    </select>

    <select id="getArticleCountByCategoryId" resultType="int" parameterType="string">
        select count(*) from article where categoryid = #{categoryId}
    </select>

    <select id="getArticleById" resultMap="articleMap" parameterType="string">
        select * from article where id = #{id}
    </select>

    <select id="getArticleByUrl" resultMap="articleMap" parameterType="string">
        select * from article where url = #{url}
    </select>

    <select id="getArticleByCategoryId" resultMap="articleMap" parameterType="string">
        select * from article where categoryid = #{categoryId}
    </select>

    <select id="getLimitArticleByCategoryId" resultMap="articleMap">
        select * from article where categoryid = #{where} order by date desc limit #{start},#{limit}
    </select>

    <select id="isExistUrl" resultType="int" parameterType="string">
        select count(*) from article where url = #{url}
    </select>

    <insert id="insertArticle" parameterType="article" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into article(id,userid,title,articlemd,articlehtml,categoryid,date,url) values(#{id},#{userId},#{title},#{articleMd},#{articleHtml},#{categoryId},#{date},#{url})
    </insert>

    <update id="updateArticle" parameterType="article">
        update article
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="articleMd!=null">
                articlemd = #{articleMd},
            </if>
            <if test="articleHtml!=null">
                articlehtml = #{articleHtml},
            </if>
            <if test="categoryId!=null">
                categoryid = #{categoryId},
            </if>
            <if test="url!=null">
                url = #{url}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteArticleById" parameterType="string">
        delete from article where id = #{id}
    </delete>

</mapper>