<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.CategoryDao">

    <resultMap id="categoryMap" type="category">
        <id property="id" column="id"></id>
        <result property="category" column="category"></result>
    </resultMap>

    <insert id="insertCategory" parameterType="category" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into category(id,category) values(#{id},#{category})
    </insert>

    <select id="getCategoryByName" resultMap="categoryMap">
        select * from category where category = #{category}
    </select>

    <select id="getAllCategory" resultMap="categoryMap">
        select * from category
    </select>

    <select id="isExist" parameterType="string">
        select count(*) from category where category = #{category}
    </select>

    <delete id="deleteCategoryByName" parameterType="string">
        delete from category where category = #{category}
    </delete>

    <update id="updateCategory">
        update category set category = #{1} where category = #{0}
    </update>

</mapper>