<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.CategoryDao">

    <resultMap id="categoryMap" type="category">
        <id property="id" column="id"></id>
        <result property="categoryName" column="categoryname"></result>
        <result property="categoryCode" column="categorycode"></result>
        <result property="deleteAble" column="deleteable"></result>
    </resultMap>

    <select id="selectByPage" resultMap="categoryMap" resultType="category">
        select * from category
        <where>
            <if test="searchMap != null">
                <if test="searchMap.categoryName != null">
                    categoryname = #{searchMap.categoryName}
                </if>
                <if test="searchMap.categoryCode != null">
                    and categorycode = #{searchMap.categoryCode}
                </if>
                <if test="searchMap.deleteAble != null">
                    and deleteable = #{searchMap.deleteAble}
                </if>
            </if>
        </where>
        order by lower(categorycode) asc limit #{start},#{limit}
    </select>

    <select id="selectByCondition" resultMap="categoryMap" resultType="category">
        select * from category
        <where>
            <if test="categoryName != null">
                categoryname = #{categoryName}
            </if>
            <if test="categoryCode != null">
                and categorycode = #{categoryCode}
            </if>
            <if test="deleteAble != null">
                and deleteable = #{deleteAble}
            </if>
        </where>
        order by lower(categorycode) asc
    </select>

    <select id="selectById" resultMap="categoryMap" resultType="category">
        select * from category where id = #{id}
    </select>

    <insert id="insert" parameterType="category">
        insert into category (id,categorycode,categoryname,deleteable)
        values (#{id},#{categoryCode},#{categoryName},#{deleteAble})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into category (id,categorycode,categoryname,deleteable)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.categoryCode},#{item.categoryName},#{item.deleteAble})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from category where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from category where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="category">
        update category
        <set>
            <if test="categoryName!=null">
                categoryname = #{categoryName},
            </if>
            <if test="categoryCode!=null">
                categorycode = #{categoryCode},
            </if>
            <if test="deleteAble!=null">
                deleteable = #{deleteAble},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update category
            <set>
                <if test="item.categoryName!=null">
                    categoryname = #{item.categoryName},
                </if>
                <if test="categoryCode!=null">
                    categorycode = #{item.categoryCode},
                </if>
                <if test="deleteAble!=null">
                    deleteable = #{item.deleteAble},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>