<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.CategoryDao">

    <resultMap id="categoryMap" type="category">
        <id property="id" column="id"></id>
        <result property="categoryName" column="categoryname"></result>
        <result property="categoryCode" column="categorycode"></result>
        <result property="deleteAble" column="deleteable"></result>
    </resultMap>

    <insert id="insertCategory" parameterType="category">
        insert into category(id,categorycode,categoryname,deleteable) values(#{id},#{categoryCode},#{categoryName},#{deleteAble})
    </insert>

    <select id="getCategoryById" resultMap="categoryMap" resultType="category" parameterType="string">
        select * from category where id = #{id}
    </select>

    <select id="getCategoryByCode" resultMap="categoryMap" resultType="category" parameterType="string">
        select * from category where categorycode = #{categoryCode}
    </select>

    <select id="getAllCategory" resultMap="categoryMap" resultType="category">
        select * from category
    </select>

    <select id="getLimitCategory" resultMap="categoryMap" resultType="category">
        select * from category limit #{start},#{limit}
    </select>

    <select id="getCategoryCount" resultType="int">
        select count(*) from category
    </select>

    <select id="isExistCode" parameterType="string" resultType="int">
        select count(*) from category where categorycode = #{categoryCode}
    </select>

    <select id="isExistName" parameterType="string" resultType="int">
        select count(*) from category where categoryname = #{categoryName}
    </select>

    <select id="isExist" parameterType="string" resultType="int">
        select count(*) from category where id = #{id}
    </select>

    <delete id="deleteCategoryById" parameterType="string">
        delete from category where id = #{id} and deleteable = 1
    </delete>

    <update id="updateCategory" parameterType="category">
        update category
        <set>
            <if test="categoryName!=null">
                categoryname = #{categoryName},
            </if>
            <if test="categoryCode!=null">
                categorycode = #{categoryCode}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>