<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.CommentDao">

    <resultMap id="commentMap" type="comment">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="website" column="website"/>
        <result property="content" column="content"/>
        <result property="articleId" column="articleid"/>
        <result property="replyTo" column="replyto"/>
        <result property="review" column="review"/>
        <result property="date" column="date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCommentById" parameterType="string" resultType="comment" resultMap="commentMap">
        select * from comment where id = #{id}
    </select>

    <select id="getAllComment" resultType="comment" resultMap="commentMap">
        select * from comment order by date desc
    </select>

    <select id="getLimitComment" resultType="comment" resultMap="commentMap">
        select * from comment order by date desc limit #{start},#{limit}
    </select>

    <select id="getCommentByArticleId" parameterType="string" resultType="comment" resultMap="commentMap">
        select * from comment where articleid = #{articleId} and review = 1 order by date desc
    </select>

    <select id="getCommentCountByArticleId" parameterType="string" resultType="int">
        select count(*) from comment where articleid = #{articleId}
    </select>

    <select id="getCommentCount" resultType="int">
        select count(*) from comment
    </select>

    <insert id="insertComment" parameterType="comment">
        insert into comment(id,nickname,email,website,content,articleid,replyto,review,date) values (#{id},#{nickname},#{email},#{website},#{content},#{articleId},#{replyTo},#{review},#{date})
    </insert>

    <update id="commentReview" parameterType="comment">
        update comment
        <set>
            <if test="review!=null">
                review = #{review}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCommentById" parameterType="string">
        delete from comment where id = #{id}
    </delete>

    <delete id="deleteCommentByArticleId" parameterType="string">
        delete from comment where articleid = #{articleId}
    </delete>

</mapper>