<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.PermissionDao">

    <resultMap id="permissionMap" type="permission">
        <id property="id" column="id"></id>
        <result property="permissionName" column="permissionname"></result>
        <result property="permissionCode" column="permissioncode"></result>
    </resultMap>

    <select id="selectByPage" resultMap="permissionMap" resultType="permission">
        select * from permission
        <where>
            <if test="searchMap != null">
                <if test="searchMap.permissionName != null">
                    permissionname = #{searchMap.permissionName}
                </if>
                <if test="searchMap.permissionCode != null">
                    and permissioncode = #{searchMap.permissionCode}
                </if>
            </if>
        </where>
        order by lower(permissioncode) limit #{start},#{limit}
    </select>

    <select id="selectByCondition" resultMap="permissionMap" resultType="permission">
        select * from permission
        <where>
            <if test="permissionName != null">
                permissionname = #{permissionName}
            </if>
            <if test="permissionCode != null">
                and permissioncode = #{permissionCode}
            </if>
        </where>
        order by lower(permissioncode)
    </select>

    <select id="selectById" resultMap="permissionMap" resultType="permission">
        select * from permission where id = #{id}
    </select>

    <insert id="insert" parameterType="permission">
        insert into permission (id,permissionname,permissioncode)
        values (#{id},#{permissionName},#{permissionCode})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into permission (id,permissionname,permissioncode)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.permissionName},#{item.permissionCode})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from permission where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from permission where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="permission">
        update permission
        <set>
            <if test="permissionName != null">
                permissionname = #{permissionName},
            </if>
            <if test="permissionCode != null">
                permissioncode = #{permissionCode},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update permission
            <set>
                <if test="item.permissionName != null">
                    permissionname = #{item.permissionName},
                </if>
                <if test="item.permissionCode != null">
                    permissioncode = #{item.permissionCode},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>


    <select id="getPermissionById" resultType="permission" resultMap="permissionMap" parameterType="string">
        select * from permission where id = #{id}
    </select>

    <select id="getPermissionByCode" resultType="permission" resultMap="permissionMap" parameterType="string">
        select * from permission where permissioncode = #{permissionCode}
    </select>

    <select id="getAllPermission" resultType="permission" resultMap="permissionMap">
        select * from permission;
    </select>

    <insert id="insertPermission" parameterType="permission">
        insert into permission(id,permissionname,permissioncode) values(#{id},#{permissionName},#{permissionCode})
    </insert>

</mapper>