<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.PermissionDao">

    <resultMap id="permissionMap" type="permission">
        <id property="id" column="id"></id>
        <result property="permissionName" column="permissionname"></result>
        <result property="permissionCode" column="permissioncode"></result>
    </resultMap>

    <select id="getPermissionById" resultType="permission" resultMap="permissionMap" parameterType="string">
        select * from permission where id = #{id}
    </select>

    <select id="getPermissionByCode" resultType="permission" resultMap="permissionMap" parameterType="string">
        select * from permission where permissioncode = #{permissionCode}
    </select>

    <select id="getAllPermission" resultType="permission" resultMap="permissionMap">
        select * from permission;
    </select>

    <insert id="insertPermission" parameterType="permission">
        insert into permission(id,permissionname,permissioncode) values(#{id},#{permissionName},#{permissionCode})
    </insert>

</mapper>