<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.RoleDao">

    <resultMap id="roleMap" type="role">
        <id property="id" column="id"></id>
        <result property="roleName" column="rolename"></result>
        <result property="roleCode" column="rolecode"></result>
    </resultMap>

    <select id="getRoleById" resultType="role" resultMap="roleMap" parameterType="string">
        select * from role where id = #{id}
    </select>

    <select id="getRoleByCode" resultType="role" resultMap="roleMap" parameterType="string">
        select * from role where rolecode = #{roleCode}
    </select>

    <select id="getAllRole" resultType="role" resultMap="roleMap">
        select * from role;
    </select>

    <insert id="insertRole" parameterType="role">
        insert into role(id,rolename,rolecode) values(#{id},#{rolename},#{rolecode})
    </insert>

</mapper>