<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.RoleDao">

    <resultMap id="roleMap" type="role">
        <id property="id" column="id"></id>
        <result property="roleName" column="rolename"></result>
        <result property="roleCode" column="rolecode"></result>
    </resultMap>

    <select id="selectByPage" resultMap="roleMap" resultType="role">
        select * from role limit #{start},#{limit}
    </select>

    <select id="selectByCondition" resultMap="roleMap" resultType="role">
        select * from role
        <where>
            <if test="roleName != null">
                rolename = #{roleName}
            </if>
            <if test="roleCode != null">
                and rolecode = #{roleCode}
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="roleMap" resultType="role">
        select * from role where id = #{id}
    </select>

    <insert id="insert" parameterType="role">
        insert into role (id,rolename,rolecode)
        values (#{id},#{rolename},#{rolecode})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into role (id,rolename,rolecode)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.rolename},#{item.rolecode})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from role where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from role where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="role">
        update role
        <set>
            <if test="roleName != null">
                rolename = #{roleName},
            </if>
            <if test="roleCode != null">
                rolecode = #{roleCode},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update role
            <set>
                <if test="roleName != null">
                    rolename = #{item.roleName},
                </if>
                <if test="roleCode != null">
                    rolecode = #{item.roleCode},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>


    <select id="getRoleById" resultType="role" resultMap="roleMap" parameterType="string">
        select * from role where id = #{id}
    </select>

    <select id="getRoleByCode" resultType="role" resultMap="roleMap" parameterType="string">
        select * from role where rolecode = #{roleCode}
    </select>

    <select id="getAllRole" resultType="role" resultMap="roleMap">
        select * from role;
    </select>

    <insert id="insertRole" parameterType="role">
        insert into role(id,rolename,rolecode) values(#{id},#{rolename},#{rolecode})
    </insert>

</mapper>