<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.UserDao">

    <resultMap id="userMap" type="user">
        <id property="id" column="id"></id>
        <result property="email" column="email"></result>
        <result property="nickname" column="nickname"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="deleteAble" column="deleteable"></result>
    </resultMap>

    <select id="getUserById" resultMap="userMap" resultType="user" parameterType="string">
        select * from user where id = #{userId}
    </select>

    <select id="getUserByEmail" resultMap="userMap" resultType="user" parameterType="string">
        select * from user where email = #{email}
    </select>

    <select id="isExist" resultType="int" parameterType="string">
        select count(*) from user where email=#{email}
    </select>

    <select id="getUserCount" resultType="int">
        select count(*) from user
    </select>

    <select id="getAdmin" resultMap="userMap" resultType="user">
        select * from user where deleteable = 0
    </select>

    <insert id="insertUser" parameterType="user">
        insert into user(id,email,nickname,password,salt,deleteable) values(#{id},#{email},#{nickname},#{password},#{salt},#{deleteAble})
    </insert>

    <update id="updatePassword" parameterType="user">
        update user
        <set>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="salt!=null">
                salt=#{salt}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateBaseInfo" parameterType="user">
        update user
        <set>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="email!=null">
                email=#{email}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUserById" parameterType="string">
        delete from user where id = #{userId} and deleteable = 1
    </delete>

</mapper>