<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.stackoverflow.blog.dao.VisitorDao">

    <resultMap id="visitorMap" type="visitor">
        <id property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="agent" column="agent"/>
        <result property="date" column="date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <insert id="insertVisitor" parameterType="visitor">
        insert into visitor(id,ip,agent,date) values(#{id},#{ip},#{agent},#{date})
    </insert>

</mapper>